/* 
   CSS (Cascading Style Sheets) is a style sheet language used for describing the 
   presentation of a document written in HTML or XML. It defines how elements are 
   displayed on a web page, including their layout, colors, fonts, and other visual 
   aspects. CSS allows developers to separate the structure and content of a webpage 
   from its presentation, providing flexibility and maintainability.
*/

* {
   margin:0;
   padding:0;
   border:none;
}

body {
   background-color: #ffffff;
   color:#000000;
}




